In [1]:
# Import required libraries
import os
import pandas as pd

In [2]:
# Set Kaggle API key directory
os.environ["KAGGLE_CONFIG_DIR"] = "../kaggle_key"

In [3]:
# Import Kaggle API and authenticate
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [4]:
# Download and extract dataset to the specified folder
dataset_path = "../data"
api.dataset_download_files("arianazmoudeh/airbnbopendata", path=dataset_path, unzip=True)

Dataset URL: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata

In [5]:
# Load the downloaded dataset into a DataFrame
file_path = "../data/airbnb_open_data.csv"
df = pd.read_csv(file_path)

C:\Users\Francisco\AppData\Local\Temp\ipykernel_18848\482030403.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [6]:
# Display the DataFrame
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
# Drop specific columns from the DataFrame
drop_columns = [
'id', 'host id', 'host name',
'country', 'country code', 'last review',
'house_rules', 'license'
]

df_cln = df.drop(columns=drop_columns)
df_cln.head()

,NAME,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,Clean & quiet apt home by the park,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,Skylit Midtown Castle,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,5.0,1.0,352.0
3,NaN,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,Entire Apt: Spacious Studio/Loft by central park,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0

In [8]:
drop_column = 'NAME'

df_cln = df_cln.drop(columns=drop_column)
df_cln.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
2,NaN,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,5.0,1.0,352.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0

In [9]:
# Remove rows with null or empty values 
df_cln = df_cln.dropna(subset=[
    'host_identity_verified', 'neighbourhood group',
    'neighbourhood', 'lat', 'long', 'instant_bookable',
    'cancellation_policy', 'room type', 'Construction year', 'price'
])

df_cln.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0
5,verified,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,0.59,3.0,1.0,374.0

In [10]:
# Remove rows where 'minimum nights' or 'availability 365' is less than 0
df_cln = df_cln[(df_cln['minimum nights'] >= 0) & (df_cln['availability 365'] >= 0)]

df_cln.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0
5,verified,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,0.59,3.0,1.0,374.0

In [11]:
# Display data types for all columns
df_cln.dtypes

host_identity_verified             object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
dtype: object

In [12]:
# Convert 'host_identity_verified' and 'instant_bookable' to category
category_columns = ['host_identity_verified', 'instant_bookable']

for col in category_columns:
    df_cln[col] = df_cln[col].astype('category')

# Verify the change
print(df_cln.dtypes[category_columns])

host_identity_verified    category
instant_bookable          category
dtype: object

In [13]:
# Fill NaN values with 0 in specified columns
columns_to_fill = [
    'Construction year', 'price', 'service fee', 
    'minimum nights', 'number of reviews', 
    'reviews per month', 'review rate number', 
    'calculated host listings count', 'availability 365'
]

df_cln[columns_to_fill] = df_cln[columns_to_fill].fillna(0)
df_cln.head()

,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,6.0,286.0
1,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,2.0,228.0
3,unconfirmed,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,4.64,4.0,1.0,322.0
4,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,1.0,289.0
5,verified,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,0.59,3.0,1.0,374.0

In [14]:
# Clean and standardize 'neighbourhood group'
df_cln['neighbourhood group'] = df_cln['neighbourhood group'].str.strip().str.lower()

# Standardize values with corrections
standardized_neighbourhood_group = {
    'brooklyn': 'Brooklyn',
    'brookln': 'Brooklyn',
    'manhattan': 'Manhattan',
    'manhatan': 'Manhattan',
    'queens': 'Queens',
    'staten island': 'Staten Island',
    'bronx': 'Bronx'
}

df_cln['neighbourhood group'] = df_cln['neighbourhood group'].map(standardized_neighbourhood_group)

In [15]:
# Standardize 'neighbourhood' values
neighbourhood_corrections = {
    "Hell'S Kitchen": "Hell's Kitchen",
    "Prince'S Bay": "Prince's Bay",
    "Bull'S Head": "Bull's Head",
    "Bay Terrace, Staten Island": "Bay Terrace",
    "Chelsea, Staten Island": "Chelsea",
    "Columbia St": "Columbia Street",
    "Soho": "SoHo"
}

df_cln['neighbourhood'] = df_cln['neighbourhood'].replace(neighbourhood_corrections)

In [16]:
# Define a reusable function to clean and convert columns
def clean_and_convert(column):
    return pd.to_numeric(
        df[column]
        .astype(str)
        .str.strip()
        .replace({'': None, 'N/A': None})
        .str.replace(r'[^\d.]', '', regex=True),
        errors='coerce'
    )

# Clean and convert the 'price' and 'service fee' columns
df_cln['price'] = clean_and_convert('price')
df_cln['service fee'] = clean_and_convert('service fee')

In [17]:
# List of columns to clean and convert to integers
columns_to_convert = [
    'price', 'service fee', 'Construction year', 
    'minimum nights', 'availability 365', 
    'number of reviews', 'calculated host listings count'
]

# Fill NaN values with 0 and convert columns to integer type
df_cln[columns_to_convert] = df_cln[columns_to_convert].fillna(0).astype(int)

In [18]:
# Display the number of non-null records per column
print(df_cln.count())

host_identity_verified            100544
neighbourhood group               100544
neighbourhood                     100544
lat                               100544
long                              100544
instant_bookable                  100544
cancellation_policy               100544
room type                         100544
Construction year                 100544
price                             100544
service fee                       100544
minimum nights                    100544
number of reviews                 100544
reviews per month                 100544
review rate number                100544
calculated host listings count    100544
availability 365                  100544
dtype: int64

In [19]:
# Save csv copy in data folder
df_cln.to_csv('../data/airbnb_cleaned.csv', index=False)